body {
    color: #fff;
    font-family: Arial, sans-serif;
    /* background-color: #d2691e; */
    background-color: black;
}

.container {
    text-align: center;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 30vh;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 100px;
    transition: all 0.3s ease;
    color: blueviolet;

}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 50px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#startbtn {
    background-color: green;
}

#startbtn:hover {
    background-color: rgb(3, 182, 3);
}


#stopbtn {
    background-color: red;
}

#stopbtn:hover {
    background-color: rgb(255, 30, 0);
}

#resetbtn {
    background-color: blue;
}

#resetbtn:hover {
    background-color: rgb(0, 47, 255);
}

.hide {
    display: none;
}

@media (max-width: 350px) {
    h1 {
        font-size: 45px;
        /* width: 43px; */
    }

    button {
        margin-top: 15px;
    }
}

@media (max-width: 770px) and (min-width: 350px) {
    h1 {
        font-size: 50px;
        /* width: 60px; */
    }

    button {
        margin-top: 15px;
    }
}



